 <li class="playlist__items">
    <div class="playlist__song">
        <div class="playlist__song-cover">
            <img src="{{ x.album_cover_img }}" alt="{{ x.album_name }}"/>
        </div>
        <div class="playlist__song-btn">
            <div class="song-btn">

                {% if current_user.is_admin_user %}
                <form method='POST' action='/albums/delete/'>
                    <input type="hidden" name="title" value='{{ x.album_name }}'>
                    <input type="hidden" name="artist" value='{{ x.album_artist }}'>
                    <button class="delete" type='submit'>
                        <i class="fa fa-times-circle"></i>
                    </button>
                </form>
                {% endif %}

                <a class="song-btn__link" href="#"> <!-- TODO-->
                <i class="fa fa-plus"></i>

                </a>

                <form action="/albums/details/{{ x.album_name }}/" method="POST">
                    <input type="hidden" name="title" value='{{ x.album_name }}'>
                    <input type="hidden" name="artist" value='{{ x.album_artist }}'>
                    <input type="hidden" name="date" value='{{ x.album_release_date }}'>
                    <input type="hidden" name="description" value='{{ x.album_description_fr }}'>
                    <input type="hidden" name="img" value='{{ x.album_cover_img }}'>
                    <button class="more" type="submit">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="playlist__song-title">{{ x.album_name }}</div>
</li>