<li class="playlist__items">
    <div class="playlist__song">
        <div class="playlist__song-cover">
            <img src="{{ x.track_img }}" alt="{{ x.track_name }}"/>
        </div>
        <div class="playlist__song-btn">
            <div class="song-btn">

                {% if current_user.is_admin_user %}
                <form method='POST' action='/musiques/delete/'>
                    <input type="hidden" name="id" value='{{ x.track_id }}'>
                    <button class="delete" type='submit'>
                        <i class="fa fa-times-circle"></i>
                    </button>
                </form>
                {% endif %}

                <a class="song-btn__link" href="#"> <!-- TODO-->
                    <i class="fa fa-plus"></i>
                </a>
                <a class="song-btn__link play" href="/play/{{ x.track_id }}/">
                    <i class="fa fa-play"></i>
                </a>

                <form action="/musiques/details/{{ x.track_name }}/" method="POST">
                    <input type="hidden" name="title" value='{{ x.track_name }}'>
                    <input type="hidden" name="artist" value='{{ x.track_artist }}'>
                    <input type="hidden" name="duration" value='{{ x.track_duration }}'>
                    <input type="hidden" name="gender" value='{{ x.track_gender }}'>
                    <input type="hidden" name="img" value='{{ x.track_img }}'>
                    <input type="hidden" name="id" value='{{ x.track_id }}'>
                    <button class="more" type="submit">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="playlist__song-title">{{ x.track_name }}</div>
</li>