<div class="container">
    <div class='banner'>
        <img src="{{ res.album_cover_img }}" alt="album cover of {{ res.album_name }}">
    </div>
    <div class="info">
        <div>
            {% if current_user.is_admin_user %}
                <form action="/albums/details/{{ res.album_name }}/edit/" method="POST">
                    <input type="hidden" name="title" value="{{ res.album_name }}">
                    <input type="hidden" name="artist" value="{{ res.album_artist }}">
                    <button class="edit" type="submit">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </form>
            {% endif %}
            <h1>{{ res.album_name }}</h1>
        </div>
        <i>Par : <b>{{ res.album_artist }}</b> - {{ res.album_release_date }}</i>
        <p>Description : {{ res.album_description_fr }}</p>
        {% if note[0] %}
            <i>Vous avez deja mis une note : <b>{{ note[1] }}</b></i>
            <i>Vous pouvez toujours la changer</i>
        {% endif %}
        <form action="/albums/details/{{ res.album_name }}/note" class="form-inline pt-8" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <input type="hidden" name="title" value="{{ res.album_name }}">
                <input type="hidden" name="artist" value="{{ res.album_artist }}">
                <input type="hidden" name="already_noted" value="{{ note[0] }}">
                <label for="score"></label>
                <input required name="score" type="number" max="10" min="0" class="form-control" id="score"
                       placeholder="{{ note[1] }}">
            </div>
            <button style="background: var(--vert); border-color: var(--vert);" type="submit"
                    class="btn btn-primary mb-2">Note
            </button>
        </form>

    </div>
</div>
<div class="discographie">

    <div class="flex">
        <div class="p-3 w-8 flex-shrink-0">
            <a><i class="fa fa-hashtag"></i></a>
        </div>
        <div class="p-3 w-full">Titre</div>
        <div class="p-3 w-full" style="display: none">Artiste</div>
        <div class="p-3 w-full" style="display: none">Album</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">Temps</div>
    </div>


    {% for track in album_tracks %}
        <div class="flex border-b border-gray-800 row-song">
            <div class="p-3 w-8 flex-shrink-0">
                <a href="/play/{{ track.track_id }}/">
                    <i class="fa fa-play"></i>
                </a>
            </div>
            <div class="p-3 w-full">{{ track.track_name }}</div>
            <div class="p-3 w-full" style="display: none">{{ res.album_artist }}</div>
            <div class="p-3 w-full text-right">
                <a id="clickable" href="/musiques/details/{{ track.track_id }}">
                    <i class="fas fa-ellipsis-h"></i></a>
            </div>
            <div class="p-3 w-12 flex-shrink-0 text-right">{{ track.track_duration }}</div>
        </div>



    {% endfor %}



</div>