<div class="container">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <div class='banner'>
        <img src="{{ res.track_img }}" alt="album cover of {{ res.track_name }}">
    </div>
    <div class="info">
        <div>
            {% if current_user.is_admin_user %}
                <form action="/musiques/details/{{ res.track_name }}/edit/" method="POST">
                    <input type="hidden" name="id" value="{{ res.track_id }}">
                    <button class="edit" type="submit">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </form>
            {% endif %}
            <h1>{{ res.track_name }}</h1>
        </div>
        <ul>
            <li>
                <span>By : <b>{{ res.track_artist }}</b></span>
            </li>
            <li>
                <span>Category : <b>{{ res.track_gender }}</b></span>
            </li>
            <li>
                <span>Duration : <b>{{ duration }}</b></span>
            </li>
            <li>
                <span><p>Playlists :</p>
                     <div class="col-md-3 mb-3">
                        <select data-width="fit" data-header="Selectionez une playlist" data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100" multiple data-selected-text-format="count > 3" data-size="5">
                            {% for playlist in playlists %}
                                <option value="{{ playlist.playlist_id }}">{{ playlist.playlist_title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <form method="POST" id="playlistUpdate" name="playlistUpdate" action="/playlist/update/song/{{ res.track_id }}">
                    <input type="hidden" id="dataUpdate" name="playlists" value="">
                    <input type="hidden" id="dataUpdate" name="userplaylist" value="{{ current_user.user_username }}">
                </form>
                <button type="submit" form="playlistUpdate" class="btn btn-warning">Rafraichir</button>
                </span>
            </li>
        </ul>
    </div>


    <style>

        .bootstrap-select .bs-ok-default::after {
            width: 0.3em;
            height: 0.6em;
            border-width: 0 0.1em 0.1em 0;
            transform: rotate(45deg) translateY(0.5rem);
        }

        .btn.dropdown-toggle:focus {
            outline: none !important;
        }

    </style>

</div>

{% block script %}

{% endblock %}

