/* CSS for Error page 404  */

.title {
    position:absolute;
    left:50%;
    top:30vh;
    transform:translate(-50%,-50%);
}

.vincent-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-items: center;
    justify-content: center;
}

.vincent-wrapper h1 {
    margin-top: 1em;
    flex-basis: 100%;
    text-align: center;
}

.vincent-wrapper img {
    margin-top: 3em;
}