:root {
    --vert: #1DB954;
    --vert-clair: #1ed760;
    --noir: #121212;
    --noir-sobre: #212121;
    --gris: #535353;
    --gris-clair: #b3b3b3;
}

div.flash {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #dabe22;
    font-size: 1.2em;
    font-weight: 700;
}

div.login {
    right: 0;
    width: 10%;
    height: 4em;
    z-index: 10000;
}

div.login>div {
    width: fit-content;
    position: absolute;
    top:.8em;
    right: 1em;
}

div.login>div:hover {
    cursor: pointer;
}

div.login>div span {
    font-size: 1.1rem;
    margin-left: .4em;
}

div.login>div a {
    color: inherit;
    text-decoration: none;
}

div.login>div.profile img {
    width: 40px;
    height: 40px;
}

div.login>div span:hover {
    color: var(--vert);
}

div.dropdown-menu {
    min-width: 2em;
    width: 100%;
    margin-top: .7em;
}

div.dropdown-menu a:hover {
    color: var(--vert);
    text-decoration: underline;
}

html::-webkit-scrollbar-thumb,
#div-sidebar::-webkit-scrollbar-thumb
{
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar,
#div-sidebar::-webkit-scrollbar
{
    width: 16px;
}

html::-webkit-scrollbar-track,
#div-sidebar::-webkit-scrollbar-track
{
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}
