:root {
    --vert: #1DB954;
    --vert-clair: #1ed760;
    --noir: #121212;
    --noir-sobre: #212121;
    --gris: #535353;
    --gris-clair: #b3b3b3;
}

.playable i:hover{
    color: var( --vert-clair);
}

.row-song:hover{
     color: var( --vert-clair);
}

main {
    display: flex !important;
}

div.banner {
    overflow: hidden;
    width: 60%;
    height: 45vh;
    position: relative;
}

div.banner img {
    position: absolute !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    width: 100% !important;
}

div.container {
    flex-basis: 30% !important;
    flex-grow: 1 !important;
    margin-top: 1em !important;
}

div.discographie {
    /* background-color: rgb(83, 83, 83) !important; */
    flex-basis: 65% !important;
    flex-grow:0 !important;
    height: 80vh !important;
    margin-right: 5em !important;
    margin-top: 1em !important;
}

div.info>div>* {
    display: inline-block !important;
    vertical-align: middle !important;
}

div.info>div h1 {
    margin:0 !important;
}

div.info>div form button {
    background: transparent !important;
    border: none !important;
}

div.info>div i {
    color: white !important;
    margin-right: 1em !important;
    padding: .5em !important;
    border: solid var(--vert) 1px !important;
    border-radius: 100em !important;
}

div.info>div i:hover {
    color: var(--vert) !important;
    cursor: pointer !important;
}

div.info>i {
    display: block !important;
    margin-top: .5em !important;
}