:root {
    --vert: #1DB954;
    --vert-clair: #1ed760;
    --vert-hover: #189644;
    --noir: #121212;
    --noir-sobre: #212121;
    --gris: #535353;
    --gris-clair: #b3b3b3;
    --width-textarea: 100%;
    --rouge: #DC1D21;
    --rouge-hover:#b8171a;
}


main.edit-album {
    height: 90vh;
    align-items: center;
}

div.container {
    margin: 0 auto;
}

form {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.edit-img>div:last-child {
    width: var(--width-textarea);
}

textarea {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

/** FOND */
textarea::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}

/** BARRE */
textarea::-webkit-scrollbar-thumb {
    background-color: var(--vert);
}

textarea::-webkit-scrollbar-track 
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

form input {
    border: solid var(--vert);
    width: min-content;
    color: white;
    background-color: transparent;
    border-radius: .2em;
    text-align: center;
    margin: .2em 0;
    outline: none;
}

form input:focus {
    border: var(--rouge) solid;
}

form input:not(#title) {
    margin: .2em 1em;
}

div.description {
    width: var(--width-textarea);
}

fieldset {
    border: var(--vert) solid;
    display: block !important;
    border-radius: .2em;
    margin: 1em 0;
}

fieldset:focus-within,
fieldset:focus-within textarea::-webkit-scrollbar-thumb
{
    border: var(--rouge) solid;
}

fieldset:focus-within legend {
    color: var(--rouge);
}

legend {
    width: fit-content;
    padding: 0 1em;
    text-decoration: underline;
}

div.buttons {
    display: flex;
    justify-content: space-around;
    width: var(--width-textarea);
    margin-top: 2em;
}

div.buttons > * {
    padding: .6em 2em;
    border-radius: 1em;
    outline: none;
    border: none;
    color: white;
}

div.buttons button[type=submit] {
    background: var(--vert);
}

div.buttons button[type=submit]:hover {
    background: var(--vert-hover);
    transform: scale(0.95);
    transition: all .2s;
}

div.buttons a {
    background: var(--rouge);
    text-decoration: none;
}

div.buttons a:hover {
    background: var(--rouge-hover);
    transform: scale(0.95);
    transition: all .2s;
}

div.info>* {
    margin-top: 2rem;
}

div.buttons i {
    margin-right: .5em;
}