@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --vert: #1DB954;
    --vert-clair: #1ed760;
    --noir: #121212;
    --noir-sobre: #212121;
    --gris: #535353;
    --gris-clair: #b3b3b3;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background-color: var(--noir);
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.flash {
    color: #dabe22;
    font-size: 1.2em;
    font-weight: 700;
}

h2 {
    color: white;
    width: 50%;
    text-align: center;
    margin: 1.2em auto;
}

.form-control {
    width: 50%;
    margin: auto;
    height: 3em;
}

.container {
    text-align: center;
}

.form-text,
label {
    color: whitesmoke
}

.form-group {
    margin-bottom: 2em;
}

.btn {
    margin-top: 2em;
    background-color: var(--vert) !important;
    padding: .8em 6em;
    border-radius: 2em;
    border: none;
}

.btn:hover {
    transform: scale(0.95);
    background-color: var(--vert-clair) !important;
}

.already {
    display: block;
    margin: 2em 0;
    color: white;
}

.already a {
    text-decoration: underline;
    color: var(--vert);
}

.already a:hover {
    color: var(--vert-clair);
}

.logo {
    width: fit-content;
    height: auto;
    padding-top: 1em;
    text-align: center;
    margin: 0 auto;
}

.logo h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

.logo img {
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.logo a:hover {
    text-decoration: none;
}

.green-text {
    color: var(--vert);
}

@-webkit-keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .rotate {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
  }
  
  .rotate::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#377af5, #377af5), linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33);
    -webkit-animation: rotate 4s linear infinite;
            animation: rotate 4s linear infinite;
  }
  
  .rotate::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: var(--noir);
    border-radius: 5px;
  }


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

