header {
    width: fit-content;
    margin: 0;
}

header>div.container {
    padding: 1.5em 0 1.5em 2em;
}

header>div.container input {
    border-radius: 0 2em;
    width: 20em;
    outline: none;
    border: none;
    text-indent: 1em;
}

header>div.container input::placeholder {
    text-align: center;
}

div.login {
    position: absolute;
}

ul.playlist__list {
    margin-top: 1em;
}

div.nav-arrow {
    text-align: center;
}

div.nav-arrow a {
    color: inherit;
    text-decoration: none;
}

div.nav-arrow i {
    margin: 0 1em;
    font-size: 1.2rem;
}

div.nav-arrow i:hover {
    color: var(--vert);
    cursor: pointer;
}

div.nav-arrow span {
    font-size: 1.2rem;
}

