:root {
  --vert: #1DB954;
  --vert-clair: #1ed760;
  --vert-hover: #189644;
  --noir: #121212;
  --noir-sobre: #212121;
  --gris: #535353;
  --gris-clair: #b3b3b3;
  --width-textarea: 100%;
  --rouge: #DC1D21;
  --rouge-hover:#b8171a;
}

.green-text {
  color: var(--vert);
}

.sidebar{
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--noir);
  color: #fff;
  padding-left: 0;
  text-align: center;
}

.sidebar ul {
  list-style: inside;
}

  .content-container {
    padding-top: 20px;
  }

  .sidebar-logo {
    width: 100%;
    height: auto;
    padding-top: 1em;
  }

  .sidebar-logo h1 {
    text-align: center;
    font-size: 2em;
  }

  .sidebar-logo img{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
  }

  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }

  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    margin: 0.2em;
  }
  .sidebar-navigation li a {
    display: block;
    color: #fff;
  }


  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }

.active{
    background-color: #1DB954;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 3px;
    z-index: -1;
  }

.sidebar-navigation li:not(.header) a{
    padding: 0.75rem 1.25rem;
}

.sidebar-navigation li:not(.header):hover{
    background-color: #1DB954;
}

.sidebar-navigation li.header::before{
    background-color: #1DB954;
    position: absolute;
    content: '';
    height: 100%;
    z-index: -1;
    left: .8em
  }

  .sidebar-navigation li:hover::before {
    width: 100%;
  }

  .sidebar-navigation li.header {
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #707570;
    padding: 10px 0;
    margin-top: .5em;
  }

  .sidebar-navigation .header::before {
    background-color: transparent;
  }

#recherche>a,
#sub-menu>a {
  background-color: var(--noir);
}

#recherche>a:not(:focus) {
  background-color: var(--noir);
}

#recherche>a:hover,
#recherche>a:focus {
  background-color: #1DB954;
}

#sub-menu>a:hover {
  background-color: white;
  color:#1a1a1a;
}
