.banner{
    display: flex;
    justify-content: center;
}

.banner > img {
    width: 30%;
}
.player{
    background-color: var(--noir);

}
.clip_musique{
    display: flex;
    justify-content: center;
}