.vincent-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-items: center;
    justify-content: center;
}

.vincent-wrapper h1 {
    margin-top: 1em;
    flex-basis: 100%;
    text-align: center;
}