<div class="container">

    <form action="/artistes/details/{{ res.artist_name }}/edit/validate/" method='POST'>
        
        <div class='edit-img'>
            <div>
                <fieldset>
                    <legend>
                        Edit Artist Image
                    </legend>
                    <textarea name="img" rows="2" cols="80"required>{{ res.artist_img }}</textarea>
                </fieldset>
            </div>
        </div>

        <div class="info">

            <h1><input id="title" type="text" name="name" value="{{ res.artist_name }}" required></h1>
            
        </div>

        <input type="hidden" name="id" value='{{ res.artist_id }}'>

        <div class="buttons">
            <button type="submit"><i class="fas fa-check"></i>Confirm</button>
            <a href="{{ url_for('home') }}"><i class="fas fa-times"></i>Cancel</a>
        </div>
        
    </form>

</div>