<div class="container">

    <form action="/musiques/details/{{ res.track_name }}/edit/validate/" method='POST'>
        
        <div class='edit-img'>
            <div>
                <fieldset>
                    <legend>
                        Edit Song Cover Image
                    </legend>
                    <textarea name="img" rows="2" cols="80"required>{{ res.track_img }}</textarea>
                </fieldset>
            </div>
        </div>

        <div class="info">

            <h1><input id="title" type="text" name="title" value="{{ res.track_name }}" required></h1>
            <ul>
                <li>
                    <span>By : </span>
                    <input type="text" name="artist" value="{{ res.track_artist }}" required>
                </li>
                <li>
                    <span>Category : </span>
                    <input type="text" name="gender" value="{{ res.track_gender }}" required>
                </li>
                <li>
                    <span>Duration : </span>
                    <input type="text" name="duration" value="{{ time }}" required pattern="^(?:(?:([0-5]?\d):)?([0-5]?\d)$">
                </li>
            </ul>

        </div>

        <input type="hidden" name="id" value='{{ res.track_id }}'>

        <div class="buttons">
            <button type="submit"><i class="fas fa-check"></i>Confirm</button>
            <a href="{{ url_for('home') }}"><i class="fas fa-times"></i>Cancel</a>
        </div>
        
    </form>

</div>