<div class="container">

    <form action="/albums/details/{{ res.album_name }}/edit/validate/" method='POST'>
        
        <div class='edit-img'>
            <div>
                <fieldset>
                    <legend>
                        Edit Cover Album URL
                    </legend>
                    <textarea name="img" rows="2" cols="80"required>{{ res.album_cover_img }}</textarea>
                </fieldset>
            </div>
        </div>

        <div class="info">

            <h1><input id="title" type="text" name="title" value="{{ res.album_name }}" required></h1>
            <i>By : 
                <input type="text" name="artist" value="{{ res.album_artist }}" required> - 
                <input type="text" name="date" value="{{ res.album_release_date }}" required pattern="[0-9]{4}">
            </i>
            <div class='description'>
                <fieldset>
                    <legend>
                        Edit Album Description
                    </legend>
                    <textarea id="desc" name="description" rows="10" cols="50" required>{{ res.album_description_fr }}</textarea>
                </fieldset>
            </div>
        </div>

        <input type="hidden" name="original_title" value='{{ res.album_name }}'>
        <input type="hidden" name="original_artist" value='{{ res.album_artist }}'>

        <div class="buttons">
            <button type="submit"><i class="fas fa-check"></i>Confirm</button>
            <a href="{{ url_for('home') }}"><i class="fas fa-times"></i>Cancel</a>
        </div>
        
    </form>

</div>