{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/handmade/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/handmade/404.css') }}">
{% endblock %}

{% block main %}

    <div class="vincent-wrapper">
        <img width="700" src="{{ url_for('static', filename='/img/small_vincent.gif') }}"/>
        <h1>Ooups. La ressource demandée est indisponible !</h1>
        <a href="{{ url_for('home') }}">
            <button type="button" class="btn btn-primary">Retour à l'accueil</button>
        </a>

    </div>

{% endblock %}