{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/allplaylist.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/cards.css') }}">
{% endblock %}

{% block main %}

    <div class="user-profile">
        <img src="{{ current_user.user_img }}" class="user-image"/>
        <div class="user-info">
            <p class="user-title">Utilisateur</p>
            <p class="username">{{ current_user.user_username }}</p>
        </div>

    </div>

    <h2 class="playlist-h2">Playlists Créées</h2>

    <div class="playlist_container">

        <div class="main__content">
            <div class="playlist">

                <ul class="playlist__list" style="justify-content: flex-start;">

                    {% for playlist in playlists %}
                        <li class="playlist__items">
                            <a href="/playlist/{{ playlist.playlist_id }}" style="text-decoration: none;">
                                <div class="playlist__song">
                                    <div class="playlist__song-cover">
                                        <img src="{{ playlist.playlist_cover }}" alt="{{ playlist.playlist_title }}"
                                             style="width: 200%">
                                    </div>
                                    <div class="playlist__song-btn">
                                        <div class="song-btn">
                                        </div>
                                    </div>
                                </div>
                                <div class="playlist__song-title">{{ playlist.playlist_title }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Créer une playlist
    </button>

    <div class="modal fade modal-bootstarp" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Créer une nouvelle playlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate id="playlist" method="POST"
                          action="/playlist/add/{{ current_user.user_username }}">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">

                                <label for="validationTooltip01">Nom de la playlist</label>
                                <input type="text" class="form-control" id="validationTooltip01"
                                       placeholder="Voyage 2020" value="" name="title" required>
                                <div class="valid-tooltip">
                                    Le nom est disponible !
                                </div>
                                <div class="invalid-tooltip">
                                    Le nom existe deja dans vos playlist!
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <img class="" id="picture" src="" width="50%" style="max-width: inherit">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="">Image de la couverture</label>
                                <input type="text" class="form-control" id="urlPicture"
                                       placeholder="http://mon.image.com/1.png"
                                       required name="image">
                                <div class="invalid-tooltip">
                                    Essayez d'entrer une url correct.
                                </div>
                                <div class="valid-tooltip">
                                    L'url est correcte !
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success" form="playlist">Créer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function validURL(str) {
            var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
            return !!pattern.test(str);
        }

        $('document').ready(function () {
            $("#urlPicture").change(function () {
                var text = $('#urlPicture').val();

                if (validURL(text)) {
                    $('#picture').attr('src', text);
                    $("#urlPicture").removeClass("is-invalid");
                    $("#urlPicture").addClass("is-valid");
                } else {
                    $("#urlPicture").removeClass("is-valid");
                    $("#urlPicture").addClass("is-invalid");
                }

            });
        });
    </script>

{% endblock %}