<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawsome/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/cards.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_spotici.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">

    {% block style %}{% endblock %}
</head>

<body>
<div class="login">
    {% if current_user.is_authenticated %}
        <div class="dropdown profile">
            <a class="dropdown-toggle" href=" " role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="true">
                <img src="{{ current_user.user_img }}" alt="image de {{ current_user.user_username }}">
                <span>{{ current_user.user_username }}</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a>
            </div>
        </div>
    {% else %}
        <div>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="/connexion/"><span>Login</span></a>
        </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div id='div-sidebar' class="col-2 sidebar col-sm-2">
            {% include "components/sidebar.html" %}
        </div>

        <div class="offset-2 col-10 col-sm-10">
            <div class="flash">
                {% include "messages.html" %}
            </div>
            {% block main %}{% endblock %} {# For the actual content #}

        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>

<script>
{% autoescape false %}
    var selectedItem = [{{playlist_selected}}]
    {% endautoescape %}

    $(function () {
        {% autoescape false %}

        $('.selectpicker').selectpicker();
        $('.selectpicker').val([{{playlist_selected}}]);

        {% endautoescape %}

        $('.selectpicker').selectpicker('render');
        console.log("First rendered");
        console.log(selectedItem);
        console.log("====================");
    });


    $('.selectpicker').change(function () {
        selectedItem = $('.selectpicker').val();
        $("#dataUpdate").attr('value', selectedItem.toString())
        console.log(selectedItem);
    });

</script>

{% block script %}{% endblock %}


</body>

</html>