{% extends "base.html" %}

{% block style %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/details.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/context-menu.css')}}">

{% endblock %}

{% block main %}
    <main>
        {% if selection == "albums" %} <!-- Albums-->
            {% include 'details/details-album.html' %}

        {% elif selection == "artistes" %}   <!-- Artistes-->
            {% include 'details/details-artist.html' %}

        {% elif selection == "musiques" %}   <!-- Musiques-->
                {% include 'details/details-song.html' %}
        {% endif %}
    </main>
{% endblock %}