{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/handmade/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/floating_button.css') }}">
{% endblock %}

{% block main %}
    <div class="wrapper">
        <div class="main__content">
            <div class="playlist">
                <div class="playlist__header">
                    <div class="playlist__header-title">Top des albums</div>
                    <div class="playlist__header-nav">
                        <a class="header-nav__link" href="/recherche/albums/1">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <ul class="playlist__list">
                    {% for x,_ in top_albums %}
                        {% include "search/albums.html" %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="main__content">
            <div class="playlist">
                <div class="playlist__header">
                    <div class="playlist__header-title">Top des Artistes</div>
                    <div class="playlist__header-nav">
                        <a class="header-nav__link" href="/recherche/artistes/1">
                            <i class="fa fa-angle-right"></i>
                        </a>

                    </div>
                </div>
                <ul class="playlist__list ">
                    {% for x,_ in top_artistes %}
                        {% include "search/artists.html" %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="main__content">
            <div class="playlist">
                <div class="playlist__header">
                    <div class="playlist__header-title">Top des Genres</div>
                    <div class="playlist__header-nav">
                        <a class="header-nav__link" href="/recherche/genres/1">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <ul class="playlist__list ">
                    {% for genre in top_genres %}
                        <li class="playlist__items">
                            <div class="playlist__song">
                                <div class="playlist__song-cover"
                                     style="background: linear-gradient(#879AF2, #D3208B, #FDA000)"></div>
                                <div class="playlist__song-btn">
                                    <div class="song-btn">
                                    </div>
                                </div>
                            </div>
                            <div class="playlist__song-title">{{ genre[0] }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper">
    <div id="main-div">
      <div id="main-button" class="wave open">
        <i class="fas fa-plus fa-times"></i>
      </div>
      <a href="/creation/musiques" style="background-color: var(--vert)"><i class="fas fa-music"></i></a>
      <a href="/creation/albums" style="background-color: var(--vert)"><i class="fas fa-album-collection"></i></a>
      <a href="/creation/artistes" style="background-color: var(--vert)"><i class="fas fa-user-music"></i></a>
    </div>
  </div>

{% endblock %}

{% block script %}
    <script>
    var mainDiv = document.getElementById('main-button');
    mainDiv.addEventListener('click', function(){
        this.children.item(0).classList.toggle('fa-times');
        this.classList.toggle('open');
    });
    mainDiv.children.item(0).classList.toggle('fa-times');
    mainDiv.classList.toggle('open');
    </script>
{% endblock %}