<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_spotici.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/responsive-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/index.css') }}">
    <title>SPOTICY</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_spotici.png') }}" alt="Logo de Spotici">
            <h1>Spot<span class='green-text'>ici</span></h1>
        </div>
        <nav>
            <div class='login'>
                <a href="/inscription/">Inscription</a>
                <a href="/connexion/">Connexion</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="gallery">
            <div class="info">
                <h1>Découvrez Spotici</h1>
                <p>Découvrez des milliers de sons en exclusivité ! L'équipe Spotici met tout en oeuvre pour vous offrir une écoute optimale et des sons mis à jour ! Plateforme conforme au RGPD et disponible à échelle européenne !</p>
            </div>
            
            <img src="{{ url_for('static', filename='img/screen_home.jpg') }}" alt="Une capture d'écran de notre page d'accueil">
        </section>

        <section class="gallery">
            <img src="{{ url_for('static', filename='img/screen_playlist.jpg') }}" alt="Une capture d'écran de notre page de playlists">

            <div class="info">
                <h1>Vos Playlists</h1>
                <p>Ajoutez autant de musiques que vous le souhaitez dans votre playlist et écoutez les à n'importe quel moment de la journée ! Jusqu'à 20 playlists dans votre collection ! Idéal pour de longs trajets ou pour travailler n'est-ce pas ?</p>
            </div>
        </section>

        <section class="gallery">
            <div class="info">
                <h1>La meilleure qualité sonore</h1>
                <p>Dès son lancement en 2021, Spotici a été reconnu comme la plateforme d'écoute disposant de la meilleure qualité sonore actuellement disponible sur le marché ! Alors n'hésitez plus, choisissez le confort avec Spotici !</p>
            </div>
            <img src="{{ url_for('static', filename='img/qualite_sonore.jpg') }}" alt="Une personne écoutant de la musique !">
    </main>

    {% include "components/footer.html" %}
</body>
</html>