{% extends "base.html" %}

{% block style %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">


{% endblock %}

{% block main %}
    <main>

        <div class="card-body">
            <h5 class="card-header">{{ selected_playlists[0].playlist_title }}</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;background-color: var(--noir-sobre);">
                            <img class="card-img-top" src="{{ selected_playlists[0].playlist_cover }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Crée par : <u
                                        style="color: var(--vert-clair)">{{ selected_playlists[0].playlist_username }}</u>
                                </p>
                                <p class="card-text">{{ number }} titres, {{ duration }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card" style="border: unset;">
                            <div class="card-body" style="background-color: var(--noir-sobre);">
                                {% if current_username == playlist_creator_name and edit != True%}
                                    <a href="/playlist/{{ selected_playlists[0].playlist_id }}/edit">
                                        <button type="button" class="btn btn-success">
                                            Modifier
                                        </button>
                                    </a>
                                    <a href="/playlist/{{ selected_playlists[0].playlist_id }}/delete">
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </a>
                                {% endif %}
                                {% if edit == True %}
                                    <form action="/playlist/{{ selected_playlists[0].playlist_id }}/nom" class="form-inline" method="POST">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="playlist_new_name" class="sr-only">Nouveau nom pour la playlist</label>
                                            <input type="text" class="form-control" id="playlist_new_name" name="playlist_new_name"
                                                   placeholder="nouveau nom" required>
                                        </div>
                                        <button type="submit" class="btn btn-success mb-2">Confirmer</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex">
                <div class="p-3 w-8 flex-shrink-0">
                    <a><i class="fa fa-hashtag"></i></a>
                </div>

                <div class="p-3 w-full">
                    <a>
                        Album
                    </a>
                </div>
                <div class="p-3 w-full">Titre</div>
                <div class="p-3 w-full">Artiste</div>
                <div class="p-3 w-12 flex-shrink-0 text-right">Temps</div>
            </div>

            {% for song in songs %}

                <div class="flex border-b border-gray-800">
                    <div class="p-3 w-8 flex-shrink-0">
                        {% if edit == True %}
                            <a href="/playlist/{{ selected_playlists[0].playlist_id }}/{{ song.track_id }}/delete"
                               class="playable"><i class="fa fa-times"></i></a>
                        {% else %}
                            <a href="/play/{{ song.track_id }}/" class="playable"><i class="fa fa-play"></i></a>
                        {% endif %}
                    </div>
                    <div class="p-3 w-full">
                        <a href="/album/details/{{ song.track_id_album }}">
                            <img width="25em" src="{{ song.track_img }}">
                        </a>
                    </div>
                    <div class="p-3 w-full">{{ song.track_name }}</div>
                    <div class="p-3 w-full">{{ song.track_artist }}</div>

                    <div class="p-3 w-12 flex-shrink-0 text-right">{{ song.track_duration }}</div>
                </div>

            {% endfor %}
        </div>
    </main>
{% endblock %}