{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/handmade/song_player.css') }}">
{% endblock %}

{% block main %}
    <p data-youtube="{{ youtube_id }}" />

    <div class="container">
        <div class='banner'>
            <img src="{{ track.track_img }}" alt="album cover of {{ track.track_name }}">
        </div>
        <div class="info">
            <div>
                <h1>{{ track.track_name }}</h1>
            </div>
            <i>De : <b>{{ track.track_artist }}</b></i>
        </div>
    </div>
    <div class="clip_musique">
        <div id="video-placeholder"></div>
    </div>


    <div id="play" style="display: none">
        <i id="player_button" class="fa fa-play"></i>
    </div>

{% endblock %}

{% block script %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}
