<footer class='footer'>

    <div class='footer-left'>

        <img src="{{ url_for('static', filename='img/logo_spotici.png') }}" alt="Logo de Spotici">
        <h3>Spot<span>ici</span></h3>

        <p class='footer-links'>
            <a href='/connexion/' class='link-1'>Se connecter</a>

            <a href='contact@spotici.com'>Nous contacter</a>
        </p>

        <p class='footer-name'>Spotici Company © 2021</p>
    </div>

    <div class='footer-center'>

        <div>
            <p><span>16 rue d'Issoudun</span> 45160, Olivet, France</p>
        </div>

        <div class='footer-contact-tel'>
            <p>06 57 72 24 61</p>
        </div>

        <div class='footer-contact-mail'>
            <p><a href='mailto:contact@spotici.com'>contact@spotici.com</a></p>
        </div>

    </div>

    <div class='footer-right'>

        <p class='footer-about'>
            <span>A propos de nous</span>Spotici est une société créée en 2021. Nous offrons nos services d'écoute en ligne à travers notre site web. Votre écoute, notre plaisir.
        </p>

    </div>

</footer>