<aside>
    <div class="sidebar-logo">
        <img src="{{ url_for('static', filename='img/logo_spotici.png') }}" alt="Logo de Spotici">
        <h1>Spot<span class='green-text'>ici</span></h1>
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <div class="{{home}}">
                <!-- la classe active sera 'activée' ou non quand on generera le template-->
            </div>
            <a href="{{ url_for('home') }}">
                Accueil
            </a>
        </li>
        <li class="nav-item dropdown" id="recherche">
            <a href="#sub-menu" class="list-group-item" data-toggle="collapse" data-parent="#recherche">Recherche<span class="caret"></span></a>
            <div class="collapse list-group-level1" id="sub-menu">
                <a href="/recherche/albums/1/" class="list-group-item" data-parent="#sub-menu">Albums</a>
                <a href="/recherche/artistes/1/" class="list-group-item" data-parent="#sub-menu">Artistes</a>
                <a href="/recherche/genres/1/" class="list-group-item" data-parent="#sub-menu">Genres</a>
                <a href="/recherche/musiques/1/" class="list-group-item" data-parent="#sub-menu">Musiques</a>
            </div>

                <div class="{{recherche}}">
                    <!-- la classe active sera 'activée' ou non quand on generera le template-->
                </div>
        </li>
        <li class="header">Mes PlayLists</li>
            <li>
                <div class="{{allPlaylists}}">
                    <!-- la classe active sera 'activé' ou non quand on generera le tempalte-->
                </div>
                {% if current_user.is_authenticated %}
                <a href="/allPlaylists/{{ current_user.user_username }}">
                    Toutes mes playlists
                </a>
                {% endif %}
            </li>
        {% for playlist in playlists %}
            <li>
                <div class="{{playlist['active']}}">
                    <!-- la classe active sera 'activé' ou non quand on generera le tempalte-->
                </div>
                <a href="/playlist/{{playlist.playlist_id}}">
                    {{playlist.playlist_title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</aside> 