{% extends "base.html" %}

{% block main %}
    <form action='/creation/musiques/validation/' method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="album_name">Nom de l'album</label>
                <input type="text" class="form-control" id="album_name" name="album_name" placeholder="Années 80"
                       required>
            </div>
            <div class="form-group col-md-6">
                <label for="artist_name">nom de l'artiste</label>
                <input type="text" class="form-control" id="artist_name" name="artist_name"
                       placeholder="Patrick Hernandez" required>
            </div>
        </div>
        <div class="form-group">
            <label for="yt_link">Lien Youtube</label>
            <input type="url" class="form-control" id="yt_link" name="yt_link"
                   placeholder="https://www.youtube.com/watch?v=kl1LP81eSKY" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="img_link">Lien de l'image de la Musique</label>
                    <input type="url" class="form-control" id="img_link" name="img_link"
                           placeholder="https://cdn-s-www.leprogres.fr/images/24567C4D-58EF-4CB6-B006-7556004278BA/NW_detail_M/title-1576680650.jpg"
                           required>
                </div>
                <div class="form-group">
                    <label for="track_name">Nom de la musique</label>
                    <input type="text" class="form-control" id="track_name" name="track_name"
                           placeholder="Born To Be Alive" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="track_gender">Genre de l'album</label>
                        <input type="text" class="form-control" id="track_gender" name="track_gender"
                               placeholder="Électronique" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="track_duration">Durée de la musique</label>
                        <input type="time" class="form-control" id="track_duration" name="track_duration" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img id="preview" src="https://cdn-s-www.leprogres.fr/images/24567C4D-58EF-4CB6-B006-7556004278BA/NW_detail_M/title-1576680650.jpg"
                     alt="image de la musique" class="img-thumbnail col-md-10 rounded mx-auto d-block">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter ! <i class="fas fa-check"></i></button>
    </form>
{% endblock %}


{% block script %}
<script>
$('document').ready(function() {
    $("#img_link").change(function() {
        var text = $('input#img_link').val();
        $('#preview').attr('src', text);

    });
});
</script>
{% endblock %}