{% extends "base.html" %}

{% block main %}
    <form action='/creation/artistes/validation/' method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="img_link">Lien de l'image de l'artiste</label>
                    <input type="url" class="form-control" id="img_link" name="img_link"
                           placeholder="https://i1.sndcdn.com/artworks-000409999251-jsaqfk-t500x500.jpg" required>
                </div>
                <div class="form-group">
                    <label for="artist_name">Nom de l'artiste</label>
                    <input type="text" class="form-control" id="artist_name" name="artist_name"
                           placeholder="Rick Ashley" required>
                </div>
            </div>
            <div class="col-md-6">
                <img id="preview" src="https://i1.sndcdn.com/artworks-000409999251-jsaqfk-t500x500.jpg"
                     alt="image de la musique" class="img-thumbnail col-md-10 rounded mx-auto d-block">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter ! <i class="fas fa-check"></i></button>
    </form>
{% endblock %}

{% block script %}
<script>
$('document').ready(function() {
    $("#img_link").change(function() {
        var text = $('input#img_link').val();
        $('#preview').attr('src', text);

    });
});
</script>
{% endblock %}