{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/handmade/validate-creation.css') }}">
{% endblock %}
{% block main %}
    <div class="vincent-wrapper">
        <h1>Oops il y a eu une erreur</h1>

        <img width="700" src="{{ url_for('static', filename='/img/AreYouSureAboutThat.gif') }}"
             alt="Are you sure about that jhonn cena gif">

        <div class="error-message mt-5">
            {% if erreur == "non_existent_album" %}
                <h2 class="">Visiblement vous avez essayé d'ajouter une nouvelle musique a un <b>ablum qui n'existe pas!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur ou alors <b>creez l'album qu'il faut!</b></h2>

            {% elif erreur == "non_existent_artist" %}
                <h2 class="">Visiblement vous avez essayé d'ajouter une nouvelle musique d'un <b>artiste qui n'existe pas!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur ou alors <b>creez l'artiste qu'il faut!</b></h2>

            {% elif erreur == "name_already_in_album" %}
                <h2 class="">Visiblement vous avez essayé d'ajouter une nouvelle musique a un <b>ablum qui possede deja une musique du même nom!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur </h2>

            {% elif erreur == "artist_not_creator" %}
                <h2 class="">Visiblement vous avez essayé d'ajouter une nouvelle musique a d'un artiste qui <b>n'est pas le createur de l'ablum!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur </h2>

            {% elif erreur == "artist_already_present" %}
                <h2 class="">Visiblement vous avez essayé d'ajouter un nouveau artiste mais <b>il est deja present!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur <b>ou abandonner</b></h2>
            {% elif erreur == album_already_existing %}
                <h2 class="">Visiblement vous avez essayé d'ajouter un nouvel album mais <b>il est deja present!</b></h2>
                <h2 class="">Vous pouvez toujours <b>revenir en arriere</b> si c'est une erreur <b>ou abandonner</b></h2>
            {% endif %}
        </div>
        <div class="buttons justify-around mt-5">
            <button class="btn btn-primary mr-5 " onclick="goBack()">Revenir en arriere</button>
            <button class="btn btn-primary ml-5"><a class="text-white" href="/home/">Abandonner</a></button>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}